*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    background-color: rgb(228, 236, 250);
 }	
ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
  text-decoration: none; color: white; 
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(0, 24, 71);
    width: 100%;
}
.buscadorform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.logo{
    width: 15vw;
    height: 10vh;
    border-radius: 50%;
    justify-content: left;
}
.loginregister{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    justify-content: space-between;
    margin: 20px 40px 0px 0px;
}
.marg{
    margin: 20px;
}
.autosbmm{
    text-align: center;
}
.buscador{
    height: 40%;
    padding: 10px;
    width: 80%;
    border-radius: 20px 0px 0px 20px;
}
.botonbuscar{
    height: 50%;
    width: 60px;
    padding: 10px;
    background-color: rgb(166, 184, 224);
}
.categoriasdiv{
    background-color: rgb(44, 65, 109);
    width: 200px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.categorias{
    color: white;
    width: 200px;
}
.categoriasul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.categoriali{
    background-color: rgb(35, 51, 85);
    margin: 5px;
    width: 65%;
    justify-content: center;
    font-size: 25px;
}
.producto{
    width: 300px;
    height: 60vh;
    margin: 20px;
    background-color: rgb(166, 184, 224);
    border-radius: 10px;
}
.productoimg{
    width: 100%;
    height: 100%;
    margin: 15px 0px 0px 0px;
}
.mainindex{
    display: flex;
    flex-direction: row;
    margin: 20px 40px 0px 40px;
}
.productodiv{
    margin: 15px;
}
.verdetalle{
    background-color: rgb(0, 24, 71);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 15px;
    margin: 15px 0px 15px 0px;
}
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productosh2{
    width: 100%;
    margin: 20px;
}
.productostodos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.marca{
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.productsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}
.productoycoments{
    display: flex;
    flex-direction: column;
}
.productinfo{
    margin: 0px 0px 0px 20px;
}
.productimg{
    width: 100%;
    height: 65%;
    margin: 20px;
}
.tags{
    background-color: rgb(221, 232, 255);
    border-radius: 5px;
    width: max-content;
    margin: 10px;
    padding: 5px;
}
.tagsul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.comentarios{
    margin: 20px;
    flex-wrap: wrap;
}
.fecha{
    text-align: right;
    margin: 0px;
}
.comentario1{
    background-color: rgb(221, 232, 255);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;c
}
.comentario2{
    background-color: rgb(221, 232, 255);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 67px 0px 0px 0px
}

.formthing{
    text-align: center;
    font-size: 50px;
    margin: 30px;

}

.formthing input{
    font-size: 30px;
}

.formthing button{
    font-size: 30px;
}

.formthing a{
    color: black;
}

.formthing div{
    margin-bottom: 30px;
}

.formthing2{
    text-align: center;
    font-size: 35px;
    margin: 30px;

}

.formthing2 input{
    font-size: 30px;
}

.formthing2 button{
    font-size: 30px;
}

.formthing2 a{
    color: black;
}

.formthing2 div{
    margin-bottom: 15px;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

.formthing{
    background-color: antiquewhite;
    border: 2px black solid;
    padding: 5px;
    border-radius: 8px;
    height: 500px;
}

.formthing2{
    background-color: antiquewhite;
    border: 2px black solid;
    padding: 5px;
    border-radius: 8px;
    height: 500px;
}

footer{
   text-align: center;
   background-color: rgb(0, 24, 71);
   color: white;
   width: 100%;
}

.logothing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainproduct{
    display: flex;
    flex-direction: row;
}
@media (max-width: 700px) {
    .mainindex{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
    .categoriasdiv{
        display: none;
    }
}
@media (max-width: 400px) {
    .mainindex{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
    .categoriasdiv{
        display: none;
    }
}
@media (max-width: 700px) {
    .mainproduct{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }

}

p{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    border: black 3px solid;
}

